.App {
  font-family: 'Rubik';
  .title {
    text-align: center;
  }

  .user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .user-card {
    border: 1px solid #ccc;
    margin: 15px;
  }

  .user-image-card {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 200px;
      height: 200px;
      border-radius: 2px 2px 0 0;
    }
  }

  .user-details {
    padding: 24px;
    color: rgba(0, 0, 0, .65);
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .user-details h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    font-size: 1.1rem;
  }

  .user-actions {
    margin: 0;
    padding: 0;
    background: #fafafa;
    border-top: 1px solid #e8e8e8;
    zoom: 1;
    display: flex;
    width: 100%;

    .action-btn {
      width: 33.33%;
      display: flex;
      justify-content: center;
      border-right: 1px solid #e8e8e8;
      margin: 12px 0;
      color: rgba(0, 0, 0, .45);
    }
    .actions{
      cursor: pointer;
    }
    .actions-secondary{
      cursor: pointer;
    }
    .actions-secondary:hover{
      color: #1890ff;
    }
  }

  .edit-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.65); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .edit-popup-content {
    width: 520px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Box shadow for depth */
  }
  
  .edit-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 16px 24px;
    color: rgba(0,0,0,.85);
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 4px 4px 0 0;
    font-size: 16px;
  }

  .form-body{
    padding: 24px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
  }
  
  .edit-popup-title {
    margin: 0;
  }
  
  .close-button {
    background-color: transparent;
    border: none; 
    cursor: pointer;
  }
  
  .edit-popup-input {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
  
  .edit-popup-input label {
    display: block;
    margin-bottom: 5px;
    width: 33.33333333%;
    text-align: end;
    font-size: 14px;
    color: rgba(0,0,0,.85);
  }

  .edit-popup-input label span{
    display: inline-block;
    margin-right: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun,sans-serif;
    line-height: 1;
    content: "*";

  }
  
  .edit-popup-input .input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(0,0,0,.65);
    outline: none;
  }

  .edit-popup-input .input:hover, .edit-popup-input .input:focus{
    border: 1px solid #40a9ff !important;
  }
  
  .edit-popup-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .edit-popup-actions .submit-btn {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  .edit-popup-actions .submit-btn:hover{
      color: #fff;
      background-color: #40a9ff;
      border-color: #40a9ff;
  }

  .edit-popup-actions .cancel-btn{
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(0,0,0,.65);
    background-color: #fff;
    border: 1px solid #d9d9d9;
  }
  
  .edit-popup-actions .cancel-btn:hover {
    border: 1px solid #40a9ff;
    color: #40a9ff;
  }

  .error-message{
    color: #f5222d;
  }
  .edit-popup-input .error-input{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(0,0,0,.65);
    border: 1px solid #f5222d;
    outline: none;
  }
  

  @media (max-width: 768px) {
    .user-grid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }


}